
			<div class="col-md-12 nonprint">
				<div class="row">
					<h1>Patient Check Out</h1>
				</div>
			</div>
			<div class="col-md-12 nonprint">
				<h3 class="text-center">Patients Currently In Treatment</h3>
				<div class="row">
					<table class="table table-hover">
						<thead>
							<tr class="bold">
								<!-- <th>Edit</th> -->
								<th>Check-Out</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Mobile Phone</th>
								<th>Street Address</th>
								<th>City</th>
								<th>State</th>
								<th>Zipcode</th>
								<th>Date of Birth</th>
								<th>Age</th>
								<th>Gender</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td><a href="#"><span class="glyphicon glyphicon-ok-circle text-center show"></span></a></td>
								<td>John</td>
								<td>Smith</td>
								<td>987-654-3210</td>
								<td>101 Easy St. Apt 3</td>
								<td>Johnson City</td>
								<td>OK</td>
								<td>98765</td>
								<td>06/14/1973</td>
								<td>42yrs</td>
								<td>Male</td>
							</tr>
							<tr>
								<td><a href="#"><span class="glyphicon glyphicon-ok-circle text-center show"></span></a></td>
								<td>John</td>
								<td>Smith</td>
								<td>987-654-3210</td>
								<td>101 Easy St. Apt 3</td>
								<td>Carlsborg</td>
								<td>WA</td>
								<td>98324</td>
								<td>06/14/1973</td>
								<td>42yrs</td>
								<td>Male</td>
							</tr>
							<tr>
								<td><a href="#"><span class="glyphicon glyphicon-ok-circle text-center show"></span></a></td>
								<td>John</td>
								<td>Smith</td>
								<td>987-654-3210</td>
								<td>101 Easy St. Apt 3</td>
								<td>Johnson City</td>
								<td>OK</td>
								<td>98765</td>
								<td>06/14/1973</td>
								<td>42yrs</td>
								<td>Male</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


{{yield}}
